<div class="edithead">
  <form (ngSubmit)="submit()" ngNativeValidate>
    <div class="card editcard text-primary border-primary" >
    

      <!-- <div class="card-header " style="background-color:lightblue">
        <h4><b style="font-size:20px;">ID&nbsp;{{item.id}}</b></h4>
      </div> -->

      <div class="card-body c-b ">
        
    <div class="form-group row">
      <div class="col-sm-3">
      <label for="agency_code "  class="editagencycode" >Instruction Level:</label>
      </div>
      <div class="col-sm-9">
      <input type="text" class="form-control" id="instr_level" name="instr_level" required [(ngModel)]="x.inv_delivery.instr_level"> 
      </div>
    </div>
  
    <div class="form-group row">
      <div class="col-sm-3">
        <label for="agency_code" class="editagencycode">Epic Agency Code:</label>
      </div>
      <div class="col-sm=9">
        <input type="text" class="form-control" id="agency_code" name="agency_code" required  [(ngModel)]="x.inv_delivery.agency_code" style="margin-left: 13px;">        
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-3">
      <label for="s_id" class="editagencycode">Site ID:</label>
      </div>
      <div class="col-sm-9">
      <input type="text" class="form-control" id="s_id" name="s_id" required  [(ngModel)]="x.inv_delivery.s_id">  
      </div>      
    </div>
    <div class="form-group row">
      <div class="col-sm-3">
      <label for="contact_name" class="editagencycode">Contact name:</label>
      </div>
      <div class="col-sm-9">
      <input type="text" class="form-control" id="contact_name" name="contact_name" required  [(ngModel)]="x.inv_delivery.contact_name"> 
      </div>       
    </div>
    <div class="form-group row">
      <div class="col-sm-3">
      <label for="glob" class="editagencycode">GLOB:</label>
      </div>
      <div class="col-sm-9">
      <input type="text" class="form-control" id="glob" name="glob" required  [(ngModel)]="x.inv_delivery.glob">  
      </div>      
    </div>
    <div class="form-group row">
      <div class="col-sm-3">
      <label for="desc" class="editagencycode">Description:</label>
      </div>
      <div class="col-sm-9">
      <input type="text" class="form-control" id="desc" name="desc" required  [(ngModel)]="x.inv_delivery.desc">
      </div>        
    </div>
    <div class="form-group row">
      <div class="col-sm-3">
      <label for="updated_by" class="editagencycode">Updated by:</label>
      </div>
      <div class="col-sm-9">
      <input type="text" class="form-control" id="updated_by" name="updated_by" required  [(ngModel)]="x.inv_delivery.updated_by">  
      </div>      
    </div>
    <div class="form-group row">
      <div class="col-sm-3">
      <label for="updated_on" class="editagencycode">Updated On:</label>
      </div>  
      <div class="col-sm-9">
      <input type="text" class="form-control" id="updated_on" name="updated_on"  [(ngModel)]="x.inv_delivery.updated_on">
      </div>        
    </div>
    <button type="submit" class="editsubmit" >Submit</button>
    &nbsp;
    &nbsp;
    &nbsp;
    
    <button routerLink="/billing-instruction" type="button" class="editback">Back</button>
      </div>
    </div>
    
  </form>
</div>
  
                                              






