<div class="hometop">
  <div class="main_container homemain">
      <div >
       Welcome to IRD
      </div>
    </div>
    <div class="body_container homebody">
      <div style=>
           <p class="homestyle" >The National Accounting Center's (NAC) Invoice Routing Distribution (IRD) tool- an integration point for CRB, HCB, and IRR Involces to be distributed externally to clients - is a highly complex and customized tool. This application maintains the invoice distribution process for the NAC billing team. The process is accomplished when the NAC billing team completes their review and approves the invoice in Epic. The automated process will look for approvals from the BDE every 5min (Process Job) or 6 min (Reprocess Job) and will pull the invoices (PDF copy) via a new Web Service Call (Epic API) and place them into SharePoint for distribution. The NAC billing team has the ability to approve single or bulk invoices that will then be distributed via SharePoint.</p>
      </div>
    </div>
    </div>
  
      