
  <div class="billingviewheader">
  
    

    <div class="card billingviewcard text-primary border-primary" >
      <!-- <div class="card-header" style="background-color:lightblue; ">
        <h4><b style="font-size:20px;">ID&nbsp;{{item.id}}</b></h4>
      </div> -->
        
        <div class="card-body" >
          <blockquote class="blockquote mb-0">
  
            <!--<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
            <table class="billingviewtable" >
    
    <tr>
      <td>Client Name &nbsp;</td>
      <td>-{{item.client_name}}</td>
    </tr>
    <tr>
      <td>Client Code </td>
      <td>-{{item.code}}</td>
      
    </tr>
    <tr>
      <td>Client Email </td>
      <td>-{{item.email}}</td>
      
    </tr>
    <tr>
      <td>Instruction level </td>
      <td>-{{x.inv_delivery.instr_level}}</td>
    
    </tr>
    <tr>
      <td>Epic Agency Code</td>
      <td>-{{x.inv_delivery.agency_code}}</td>
      
    </tr>
    <tr>
      <td>Site ID</td>
      <td>-{{x.inv_delivery.s_id}}</td>
     
    </tr>
    <tr>
      <td>Contact name</td>
      <td>-{{x.inv_delivery.contact_name}}</td>
     
    </tr>
    <tr>
      <td>GLOB</td>
      <td>-{{x.inv_delivery.glob}}</td>
     
    </tr>
    <tr>
      <td>Description</td>
      <td>-{{x.inv_delivery.desc}}</td>
     
    </tr>
    <tr>
      <td>Updated by</td>
      <td>-{{x.inv_delivery.updated_by}}</td>
     
    </tr>
    <tr>
      <td>Updated on</td>
      <td>-{{x.inv_delivery.updated_on}}</td>
     
    </tr>
  </table>
  <br>
  <button routerLink="/billing-instruction" type="button" class="billingviewback" >Back</button>
  
          </blockquote>
         
        </div>
      </div>
      </div>