
<div  class="container admin_view_container">
  <div class="card">
      <div class="card-header viewheader">
        <h4><b  >ID&nbsp;{{item.id}}</b></h4>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p >Category Name-&nbsp;<b>{{item.lobCategoryName}}</b></p>
         <p >Created by-&nbsp;<b>{{item.createdBy}}</b></p>
          <p >Updated by-&nbsp;<b>{{item.updatedBy}}</b></p>
          
        </blockquote>
        <button routerLink="/Lobcat" type="button" >Back</button>
      </div>
    </div>
    </div>
  